@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar  */

* {
  --sb-track-color: transparent;
  --sb-thumb-color: #014aa9;
  --sb-size: 4px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}

/* Body */

body {
  font-family: "Inter", sans-serif;
  @apply w-full scroll-smooth bg-zinc-50 text-slate-900 antialiased dark:bg-dark-primary;
}

.mobile-hscreen {
  @apply h-[calc(100vh-72px)];
}

.fluid {
  @apply mx-auto my-10 flex h-full w-full max-w-[1440px] flex-col items-center justify-center px-5 2xl:px-0;
}

header {
  -webkit-backdrop-filter: blur(10px); /* Safari 6.1+ */
  backdrop-filter: blur(10px); /* Firefox 70+ */
  @apply bg-zinc-50/10 dark:bg-dark-primary/10; /* 10% opacity */
}
