@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  font-family: "Inter", sans-serif;
  @apply w-full scroll-smooth bg-zinc-50 antialiased dark:bg-dark-primary;
}

.mobile {
  @apply h-[calc(100vh-72px)];
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #ffffff;
  --sb-size: 2px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}
